@import '../../../variables.scss';

.list-flights {
  .headers {
    margin: 3rem 4rem 1rem 4rem;
    padding-bottom: 2rem;
    display: flex;
    list-style: none;
    border-bottom: 1px solid rgba(165, 165, 165, 0.3);

    .left {
      display: flex;
      justify-content: space-around;
      flex: 1;
    }
    .center {
      justify-content: flex-start;
      display: flex;
      flex: 1;
    }
    .right {
      justify-content: space-evenly;
      display: flex;
      flex: 1;
    }
    .element {
      margin: 1rem;
      display: flex;
      margin-right: 4rem;
    }
    p {
      font-size: 2rem;
      color: black;
    }
  }
}
