@import '../../variables.scss';
.container {
  padding: 0;
  margin: 0;
  background: $primary-color;
  color: white;
  display: flex;
  justify-content: space-between;

  .logo {
    overflow: hidden;
    background: url('./img/aeromexico-grande.jpg') no-repeat center center/cover;
    width: 20vw;
    padding: 3rem;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 1rem 2rem 1rem 0;
        a {
          font-weight: bold;
          text-decoration: none;
          font-size: 1.5rem;
        }
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    ul {
      display: flex;
      list-style: none;
      border-right: 1px solid grey;
      li {
        margin: 1rem 1.5rem 1rem 0;
        a {
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
  .others {
    display: flex;
    align-items: center;
    justify-content: center;
    .letter-icon {
      margin: 1.5rem 1.2rem;
      i {
        font-size: 2rem;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    .flag-icon {
      background: url('./img/download-1.png') no-repeat center center/cover;
      width: 0.75rem;
      padding: 1.5rem;
      border-radius: 50%;
      margin: 1.5rem 1rem;
    }
    .sesion a {
      text-decoration: none;
      font-size: 1.5rem;
      margin: 1.5rem 1rem;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
