.form-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form-container .form-grup {
  margin: 1rem;
}
.form-container .form-grup label {
  display: block;
  margin-bottom: 10px;
}

.form-container label {
  color: rgba(225, 225, 225, 0.5);
  display: inline-block;
}

.form-container input {
  height: 3rem;
  width: 15rem;
  border: 1px;
  border-radius: 3px;
  padding: 0 20px;
  font-size: 18px;
}

button {
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
  color: white;
  background-color: #004990;
}
button:hover {
  background-color: red;
}
.form-container a {
  font-weight: bold;
  background: #004990;
  text-decoration: none;
  color: white;
  border-radius: 40px;
  margin: 20px;
  padding: 1.3rem 2rem;
  border: 1px;
}

.form-container a:hover {
  background-color: red;
}
